@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap");
html {
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  margin-left: 18% !important;
  right: 0;
}
a {
  color: #fff !important;
  text-decoration: none !important;
}
.left-side-menu {
  width: 245px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  border-right: 1px solid gray;
  padding: 0 14px;
  position: fixed;
  z-index: 2;
}
.left-side-menu .logo {
  width: 190px !important;
  height: 70px !important;
  background-color: #fff;
  scale: 0.6;
  margin-left: -70px !important;
  margin-top: 20px;
  margin-right: 4 0px !important;
}
.left-side-menu .logo .resp-logo {
  display: none !important;
}
.left-side-menu .logo img {
  scale: 1.1;
  padding: 0 12px; 
  position: absolute;
}
.left-side-menu .row {
  width: 210px;
  height: 46px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 10px;
  padding: 0px 12px ;
  }
.left-side-menu .row:hover{
  background-color: #313131;
  transition: 0.2s linear;
  cursor: pointer;
  border-radius: 10px;
}
.left-side-menu .more {
  padding-left: 24px;
}
.left-side-menu .row i {
  font-size: 20px;
}
.left-side-menu .row p {
  font-size: 17px;
  margin-left: 13px;
}
.left-side-menu .row img {
  width: 25px;
  height: 25px;
}
.left-side-menu .home img {
  background-color: #fff;
  width: 20px;
  scale: 2.6;
  border: 3px solid #fff;
  clip-path: polygon(50% 31%, 66% 47%, 66% 65%, 34% 65%, 34% 47%);
}
.left-side-menu .explore img {
  width: 20px;
}
.left-side-menu .reels img {
  background: #fff;
  width: 20px;
  border-radius: 32%;
  clip-path: polygon(14% 19%, 88% 19%, 88% 77%, 15% 78%);
  scale: 1.5;
}
.left-side-menu .profile img {
  border-radius: 50px;
  scale: 1.2;
}
.left-side-menu .messages img {
  background: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
}
.left-side-menu .messages p {
  margin-left: 8px;
}
.left-side-menu .create p {
  margin-left: 14px;
}
.left-side-menu .profile p {
  margin-left: 7px;
}
.left-side-menu .more p {
  margin-left: 11px;
}
.left-side-menu .threads {
  margin-top: 35px;
}
.left-side-menu .threads p {
  margin-left: 11px;
}
.left-side-menu .more,
.threads i {
  scale: 1.1;
}
.left-side-menu .messages .notfication {
  color: #ffffff;
  background-color: red;
  border: 1px solid #000;
  width: 19px;
  height: 18px;
  line-height: 17px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  margin-top: -4px;
  margin-left: -12px;
  padding-left: 1px;
}
.mobile-top{
  display: none !important;
}

.searchModal{
  width: 420px;
  height: 100%;
background-color: #000;
position: fixed;
z-index: 99999;
left: 0;
margin-left: 69px;
display: none;
}
.searchModal h2{
  margin: 26px 40px 30px 40px;
  font-weight: 600;
}
.searchModal .searchBar{
border-bottom: 1px solid #FFF;
padding-bottom: 22px;
padding-left: 4%;
}
.searchModal .searchBar input{
  width: 96%;
  height: 40px;
  border-radius: 7px;
  position: relative;
  z-index: 2;
  padding-left: 35px;
  padding-top: 3px;

}
.searchModal .searchBar input::placeholder{
font-size: 16px;
}
.searchModal .searchBar textarea:focus, input:focus{
  outline: none;
}
.searchModal .searchBar .fa-magnifying-glass{
  position: absolute;
  z-index: 9999;
  color: #000;
  font-size: 18px;
  margin: 11px 10px;
}
.searchModal .searchBar .fa-x{
position: absolute;
  z-index: 99999;
  color: #000;
  font-size: 9px;
  margin-top: 11px;
  margin-left: -30px;
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 20px;
  padding: 6px 7px;
}
.searchModal .status-bar{
  margin: 20px 0;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-weight: bold;
}
.searchModal .status-bar #recent{
  margin-left: 12px;
}
.searchModal .status-bar #clear_all:hover{
color: dodgerblue;
transition: 0.1s linear;
}
.searchModal .searched-accounts{
  display: flex;
  flex-direction: column;
}
 .searchModal .searched-account {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: 10px 0;
  padding: 0 25px;
}
.searchModal .searched-account .left-side {
  display: flex;
  align-items: center;
}
.searchModal .searched-account img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.searchModal .searched-account .info {
  margin-left: 10px;
}
.searchModal .searched-account .info #userName {
  font-size: 14px;
  font-weight: 600;
}
.searchModal .searched-account .info #about {
  color: #949393;
}
.searchModal .searched-account .fa-x {
  font-weight: bold;
  font-size: 15px;
}
.menuModal {
  border-radius: 20px;
  background-color: #262626;
  color: #fff;
  font-size: 14px;
  width: 260px;
  padding: 10px 9px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  left: 0;
  bottom: 0;
  margin: 0 0 80px 12px;
  display: none;
}
.menuModal span {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.menuModal #logOut {
  color: #fff;
  text-decoration: none;
}
.menuModal #switch-accounts {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.menuModal a {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}
.menuModal a i {
  margin-right: 10px;
  font-size: 15px;
}
.menuModal a img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.menuModal a:hover,
#logOut:hover,
#switch-accounts:hover {
  background-color: #313131;
  width: 243px;
  height: 50px;
  border-radius: 10px;
  transition: 0.2s linear;
}






@media (max-width: 1262px) {
  .screen {
    width: 1200px;
    margin: 0 auto;
  }
  .container {
display: flex !important;
justify-content: center !important;
/* margin-left: 0% !important; */
  }
  .mobile-top{
    display: none !important;
  }
  .container .main-share {
    /* margin: auto; */
  }
  .left-side-menu {
    width: 75px;
    display: flex !important;
    flex-direction: column !important;
    align-items: baseline !important;
    gap: 0.5rem;
    border-right: 1px solid gray;
    border-width: 100% !important;
    padding-right: 30px;
  }
  .left-side-menu .logo {
    width: 0px !important;
    height: 0px !important;
    background-color: #fff;
    scale: 1;
    margin-left: 19px !important;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .left-side-menu .text-logo {
    display: none;
  }
  .left-side-menu .logo .resp-logo {
    background-color: #000;
    width: 25px;
    height: 25px;
    scale: 1.4;
    display: block !important;
    margin-left: -28px;
  }
  .left-side-menu .row {
    width: 75px !important;
    margin-left: 3px;
  }
  .left-side-menu .more i {
    margin-left: -2px;
  }
  .left-side-menu p {
    display: none !important;
    color: #fff;
  }
  .left-side-menu .threads {
    display: none;
  }
  .suggestion {
    display: none !important;
  }
  .mobile-bottom{
    display: none;
  }
}

@media (max-width: 768px) {
  .screen {
    width: 700px;
    margin: 0 auto;
  }
  .left-side-menu {
    display: none !important;
  }
  .container{
    margin: 60px auto 0 !important;
    position: relative;
  }
  .mobile-top{
    width: 100%;
    background-color: #000;
    display: flex !important;
    justify-content: space-between ;
    align-items: center;
    position: absolute;
    z-index: 9999;
    border-bottom: 1px solid #FFF;
  }
  .mobile-top .logo{
    scale: 0.7;
    background: #FFF;
    width: 175px;
    height: 71px;
  }
  .mobile-top a{
    width: 0;
  }
  .mobile-top .right-side{
    display: flex;
    align-items: center;
     gap: 20px;
  }
  .mobile-top .right-side .search-bar{
    position: relative;
    display: flex;
    align-items: center;
  }
  .mobile-top .right-side .search-bar i{
    position: absolute;
    margin-left: 15px;
  }
  .mobile-top .right-side .search-bar input{
    width: 250px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background-color: #242527;
    font-size: 16px;
  }
  .mobile-top .right-side .search-bar input::placeholder{
    color: white;
    font-size: 17px;
    padding: 0 40px;
  }
  .mobile-top .fa-heart{
padding-right: 15px;
font-size: 22px;
  }
  .mobile-bottom{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 0 65px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 40px;
    background-color: #000;
    color: #000;
    bottom: 0;
    border-top: 1px solid #FFF;
  }
  .mobile-bottom .row i{
font-size: 28px;
color: #FFF;
  }
  .mobile-bottom .row img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #FFF;
  }
  .mobile-bottom .home img{
    clip-path: polygon(50% 20%, 77% 47%, 77% 80%, 23% 80%, 23% 46%);
  }
  .mobile-bottom .reels img{
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);

  }
}
.main-share {
  width: 634px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  position: relative;
  z-index: 1;
}
.main-share .story-slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 15px;
}
.main-share .story-slider img {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: 3px solid pink;
  margin-bottom: 4px;
}
.main-share .story-slider a {
  display: flex;
  flex-direction: column;
}
.main-share .story-slider span {
  font-size: 12px;
  margin: auto;
}
.post-slider {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.post {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 468px;
  height: 825px;
  margin: 0 auto;
  font-size: 14px;
  border-bottom: 1px solid #FFF;
}
.post p {
  margin: 4px 0;
}
.post .top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 3px;
}
.post .top-side a {
  width: 123px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post .top-side a img {
  width: 37px !important;
  height: 37px;
  border: 2px solid pink;
  border-radius: 50px;
  margin-top: 10px;
}
.post .top-side a .threeSpan {
  font-size: 14px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.post .top-side a .threeSpan #dot {
  font-size: 22px;
  display: inline-block;
  margin: 0px 2px 11px 4px;
}
.post #about-hour {
  font-size: 14px;
  margin-top: 1px;
  color: #949393;
}
.post .ellipsis {
  display: flex;
  align-self: center;
  margin-top: 10px;
}
.post #post {
  width: 468px;
  height: 524px;
  object-fit: cover;
}
.post .post-view {
  position: relative;
  z-index: 1;
  object-fit: cover;
}
.post .post-view .tagged-people {
  height: 25px;
  width: 25px;
  border: 1px solid #242527;
  background: #242527;
  border-radius: 50px;
  padding: 0 6px;
  position: absolute;
  z-index: 9999;
  margin: -40px 10px;
}
.post .post-view .tagged-people i {
  font-size: 13px;
}
.post .bottom-side {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 0 3px;
}
.post .bottom-side .left {
  display: flex;
  gap: 10px;
}
.post .bottom-side i {
  font-size: 24px;
}
.post #likes {
  padding-top: 10px;
}
.post #userName {
  font-weight: 600;
}
.post #caption {
  font-weight: 300;
  margin-top: 0;
}
.comment-view {
  display: flex;
  justify-content: space-between;
}
.comment-view #comment {
  margin-right: 64%;
}

.suggestion {
  width: 384px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 40px;
}
.suggestion .switch-account {
  width: 287px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.suggestion .switch-account #switch {
  color: dodgerblue;
  font-weight: bold;
}
.suggestion .switch-account #switch:hover {
  color: white;
  transition: 0.3;
}
.suggestion .switch-account .left-side {
  display: flex;
  align-items: center;
}
.suggestion .switch-account img {
  width: 44px;
  height: 44px;
  border-radius: 50px;
}
.suggestion .switch-account .info {
  margin-right: 50px;
  font-size: 14px;
  font-weight: 200;
  margin-left: 10px;

}
.suggestion .switch-account .info #userName {
  font-weight: 600;

}
.suggestion .switch-account .info #name {

}
.suggestion .navigate {
  width: 287px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 30px 0 5px 0;
}
.suggestion .navigate #info {
  font-size: 14px;
}
.suggestion .navigate #nav {
  font-size: 12px;
  font-weight: bold;
}
.suggestion .navigate #nav:hover {
  color: gray;
  transition: 0.3;
}
.suggestion .suggested-account {
  width: 287px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: 12px 0;
}
.suggestion .suggested-account .left-side {
  display: flex;
  align-items: center;
}
.suggestion .suggested-account img {
  width: 44px;
  height: 44px;
  border-radius: 50px;
}
.suggestion .suggested-account .info {
  margin-left: 10px;
}
.suggestion .suggested-account .info #userName {
  font-size: 14px;
  font-weight: 500;
}
.suggestion .suggested-account .info #about {
  color: #949393;
}
.suggestion .suggested-account #follow {
  color: dodgerblue;
  font-weight: bold;
}
.suggestion .suggested-account #follow:hover {
  color: white;
  transition: 0.3;
}
.suggestion .bottom {
  font-size: 12px;
  width: 287px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  color: #6d6d6d;
}
.suggestion .bottom p a {
  color: #6d6d6d;
  text-decoration: none;
}
.suggestion .bottom p a:hover {
  text-decoration: underline;
  transition: 0.7;
}
.mobile-bottom{
  display: none;
}